body{
    background-color: #54cb56;
}
.btn{
    background: linear-gradient(45deg, #0d6efd, #6610f2);
    border:solid black 2px;
    padding:10px 20px;
    font-size:16px;
    color:white;
    border-radius:5px;
    margin :20px;
    text-decoration: none;
}
.btn:hover{
    transform:scale(1.05);
    box-shadow: 0 0 10px rgba(241, 10, 33, 0.8);
    cursor: pointer;
}
