
body {
background: linear-gradient(109deg, #46c467, #344a84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    width: auto;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}
.form-group label {
    font-weight: 600;
    color: #495057;
}
.form-group {
    width: 40vh;
}
.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.btn-primary {
    width: 100%;
    background: linear-gradient(45deg, #007bff, #00c6ff);
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 50px;
}
.btn-primary:hover {
    background: linear-gradient(45deg, #7ae05e, #aa49b3);
    transform: scale(1.05);
}